In [1]:
from io import BytesIO
import requests
import pandas as pd
from arcgis.features import FeatureLayer
from arcgis.gis import GIS
from arcgis.mapping import WebMap

In [148]:
from arcgis.gis import GIS
gis = GIS("https://utoronto.maps.arcgis.com",client_id="D6mmWslBBmHA1RuS", verify_cert=False)
print("Successfully logged in as: " + gis.properties.user.username)

Please sign in to your GIS and paste the code that is obtained below.
If a web browser does not automatically open, please navigate to the URL below yourself instead.
Opening web browser to navigate to: https://utoronto.maps.arcgis.com/sharing/rest/oauth2/authorize?response_type=code&client_id=D6mmWslBBmHA1RuS&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&state=FiW7LYt9iKlWh4CL1oXY5G1QEUoQAw&allow_verification=false
Enter code obtained on signing in using SAML: ········
Successfully logged in as: yangch53_utoronto

In [3]:
item = gis.content.search("Coronavirus_2019_nCoV_Cases owner:CSSE_covid19", outside_org=True)[0]
item

In [4]:
src_url = "https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1"
fl = FeatureLayer(url=src_url)

In [5]:
df_global = fl.query(where="1=1",
                     return_geometry=True,
                     as_df=True)

In [7]:
df_global[df_global['Country_Region']=="US"]

,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,SHAPE
733,734,Mississippi,US,2022-09-11 05:20:45,32.741646,-89.678696,918874,0,12821,0,None,28,"Mississippi, US","{""x"": -89.67869599999995, ""y"": 32.741646000000..."
734,735,Grand Princess,US,2020-08-04 02:27:56,37.648940,-122.665479,103,0,3,0,None,None,"Grand Princess, US","{""x"": -122.66547899999995, ""y"": 37.64894000000..."
735,736,Oklahoma,US,2022-09-11 05:20:45,35.565342,-96.928917,1182071,0,16759,0,None,40,"Oklahoma, US","{""x"": -96.92891699999996, ""y"": 35.565342000000..."
736,737,Delaware,US,2022-09-11 05:20:45,39.318523,-75.507141,304393,0,3080,0,None,10,"Delaware, US","{""x"": -75.50714099999993, ""y"": 39.318523000000..."
737,738,Minnesota,US,2022-09-11 05:20:45,45.694454,-93.900192,1645653,0,13509,0,None,27,"Minnesota, US","{""x"": -93.90019199999995, ""y"": 45.694454000000..."
738,739,Illinois,US,2022-09-11 05:20:45,40.349457,-88.986137,3716318,0,39445,0,None,17,"Illinois, US","{""x"": -88.98613699999999, ""y"": 40.349457000000..."
739,740,Arkansas,US,2022-09-11 05:20:45,34.969704,-92.373123,941464,0,11961,0,None,05,"Arkansas, US","{""x"": -92.37312299999996, ""y"": 34.969704000000..."
740,741,New Mexico,US,2022-09-11 05:20:45,34.840515,-106.248482,613896,0,8483,0,None,35,"New Mexico, US","{""x"": -106.24848199999997, ""y"": 34.84051500000..."
741,742,Indiana,US,2022-09-11 05:20:45,39.849426,-86.258278,1908325,0,24549,0,None,18,"Indiana, US","{""x"": -86.25827799999996, ""y"": 39.849426000000..."
742,743,Louisiana,US,2022-09-11 05:20:45,31.169546,-91.867805,1442885,0,17923,0,None,22,"Louisiana, US","{""x"": -91.86780499999998, ""y"": 31.169546000000..."
743,744,Texas,US,2022-09-11 05:20:45,31.054487,-97.563461,7912298,0,90495,0,None,48,"Texas, US","{""x"": -97.56346099999996, ""y"": 31.054487000000..."
744,745,Wisconsin,US,2022-09-11 05:20:45,44.268543,-89.616508,1843251,0,15120,0,None,55,"Wisconsin, US","{""x"": -89.61650799999995, ""y"": 44.268543000000..."
745,746,Kansas,US,2022-09-11 05:20:45,38.526600,-96.726486,869254,0,9029,0,None,20,"Kansas, US","{""x"": -96.72648599999997, ""y"": 38.526600000000..."
746,747,Recovered,US,2022-09-11 05:20:45,0.000000,0.000000,0,0,0,0,None,None,"Recovered, US","{""x"": 5.684341886080802e-14, ""y"": 5.6843418860..."
747,748,American Samoa,US,2022-09-11 05:20:45,-14.271000,-170.132000,8217,0,34,0,None,None,"American Samoa, US","{""x"": -170.13199999999998, ""y"": -14.2709999999..."
748,749,Connecticut,US,2022-09-11 05:20:45,41.597782,-72.755371,881252,0,11299,0,None,09,"Connecticut, US","{""x"": -72.75537099999997, ""y"": 41.597782000000..."
749,750,Virgin Islands,US,2022-09-11 05:20:45,18.335800,-64.896300,22926,0,122,0,None,None,"Virgin Islands, US","{""x"": -64.89629999999994, ""y"": 18.335800000000..."
750,751,California,US,2022-09-11 05:20:45,36.116203,-119.681564,11166567,0,95311,0,None,06,"California, US","{""x"": -119.68156399999998, ""y"": 36.11620300000..."
751,752,Puerto Rico,US,2022-09-11 05:20:45,18.220800,-66.590100,938654,0,5033,0,None,72,"Puerto Rico, US","{""x"": -66.59009999999995, ""y"": 18.220800000000..."
752,753,Georgia,US,2022-09-11 05:20:45,33.040619,-83.643074,2883318,0,39875,0,None,13,"Georgia, US","{""x"": -83.64307399999996, ""y"": 33.040619000000..."
753,754,North Dakota,US,2022-09-11 05:20:45,47.528912,-99.784012,266273,0,2354,0,None,38,"North Dakota, US","{""x"": -99.78401199999996, ""y"": 47.528912000000..."
754,755,Pennsylvania,US,2022-09-11 05:20:45,40.590752,-77.209755,3202811,0,46831,0,None,42,"Pennsylvania, US","{""x"": -77.20975499999997, ""y"": 40.590752000000..."
755,756,West Virginia,US,2022-09-11 05:20:45,38.491226,-80.954453,590441,0,7322,0,None,54,"West Virginia, US","{""x"": -80.95445299999994, ""y"": 38.491226000000..."
756,757,Alaska,US,2022-09-11 05:20:45,61.370716,-152.404419,295596,0,1338,0,None,02,"Alaska, US","{""x"": -152.40441899999996, ""y"": 61.37071600000..."
757,758,Tennessee,US,2022-09-11 05:20:45,35.747845,-86.692345,2314687,0,27532,0,None,47,"Tennessee, US","{""x"": -86.69234499999999, ""y"": 35.747845000000..."
758,759,United States Virgin Islands,US,NaT,18.350000,-64.933000,0,0,0,0,None,None,"United States Virgin Islands, US","{""x"": -64.93299999999994, ""y"": 18.350000000000..."
759,760,Missouri,US,2022-09-11 05:20:45,38.456085,-92.288368,1635859,0,21560,0,None,29,"Missouri, US","{""x"": -92.28836799999999, ""y"": 38.456085000000..."
760,761,South Dakota,US,2022-09-11 05:20:45,44.299782,-99.438828,258510,0,3002,0,None,46,"South Dakota, US","{""x"": -99.43882799999994, ""y"": 44.299782000000..."
761,762,Colorado,US,2022-09-11 05:20:45,39.059811,-105.311104,1639422,0,13207,0,None,08,"Colorado, US","{""x"": -105.31110399999994, ""y"": 39.05981100000..."
762,763,New Jersey,US,2022-09-11 05:20:45,40.298904,-74.521011,2696672,0,34623,0,None,34,"New Jersey, US","{""x"": -74.52101099999999, ""y"": 40.298904000000..."
763,764,Guam,US,2022-09-11 05:20:45,13.444300,144.793700,58221,0,394,0,None,None,"Guam, US","{""x"": 144.79370000000006, ""y"": 13.444300000000..."
764,765,Washington,US,2022-09-11 05:20:45,47.400902,-121.490494,1793565,0,14122,0,None,53,"Washington, US","{""x"": -121.49049399999996, ""y"": 47.40090200000..."
765,766,New York,US,2022-09-11 05:20:45,42.165726,-74.948051,6024729,0,71311,0,None,36,"New York, US","{""x"": -74.94805099999996, ""y"": 42.165726000000..."
766,767,Nevada,US,2022-09-11 05:20:45,38.313515,-117.055374,835618,0,11417,0,None,32,"Nevada, US","{""x"": -117.05537399999997, ""y"": 38.31351500000..."
767,768,Northern Mariana Islands,US,2022-09-11 05:20:45,15.097900,145.673900,13147,0,40,0,None,None,"Northern Mariana Islands, US","{""x"": 145.67390000000012, ""y"": 15.097900000000..."
768,769,Diamond Princess,US,2020-08-04 02:27:56,35.443700,139.638000,49,0,0,0,None,None,"Diamond Princess, US","{""x"": 139.63800000000003, ""y"": 35.443700000000..."
769,770,Maryland,US,2022-09-11 05:20:45,39.063946,-76.802101,1231823,0,15247,0,None,24,"Maryland, US","{""x"": -76.80210099999994, ""y"": 39.063946000000..."
770,771,Idaho,US,2022-09-11 05:20:45,44.240459,-114.478828,491564,0,5131,0,None,16,"Idaho, US","{""x"": -114.47882799999996, ""y"": 44.24045900000..."
771,772,Wyoming,US,2022-09-11 05:20:45,42.755966,-107.302490,175290,0,1884,0,None,56,"Wyoming, US","{""x"": -107.30248999999998, ""y"": 42.75596600000..."
772,773,Arizona,US,2022-09-11 05:20:45,33.729759,-111.431221,2258040,0,31162,0,None,04,"Arizona, US","{""x"": -111.431221, ""y"": 33.72975900000006, ""sp..."
773,774,Iowa,US,2022-09-11 05:20:45,42.011539,-93.210526,847235,0,9968,0,None,19,"Iowa, US","{""x"": -93.21052599999996, ""y"": 42.011539000000..."
774,775,Michigan,US,2022-09-11 05:20:45,43.326618,-84.536095,2786213,0,38121,0,None,26,"Michigan, US","{""x"": -84.53609499999999, ""y"": 43.326618000000..."
775,776,Utah,US,2022-09-11 05:20:45,40.150032,-111.862434,1032129,0,4989,0,None,49,"Utah, US","{""x"": -111.86243399999995, ""y"": 40.15003200000..."
776,777,Virginia,US,2022-09-11 05:20:45,37.769337,-78.169968,2058582,0,21587,0,None,51,"Virginia, US","{""x"": -78.16996799999998, ""y"": 37.769337000000..."
777,778,Oregon,US,2022-09-11 05:20:45,44.572021,-122.070938,883368,0,8471,0,None,41,"Oregon, US","{""x"": -122.07093799999996, ""y"": 44.57202100000..."
778,779,Montana,US,2022-09-11 05:20:45,46.921925,-110.454353,306709,0,3509,0,None,30,"Montana, US","{""x"": -110.45435299999997, ""y"": 46.92192500000..."
779,780,New Hampshire,US,2022-09-11 05:20:45,43.452492,-71.563896,346016,0,2671,0,None,33,"New Hampshire, US","{""x"": -71.56389599999994, ""y"": 43.452492000000..."
780,781,Massachusetts,US,2022-09-11 05:20:45,42.230171,-71.530106,2021331,0,21536,0,None,25,"Massachusetts, US","{""x"": -71.53010599999993, ""y"": 42.230171000000..."
781,782,South Carolina,US,2022-09-11 05:20:45,33.856892,-80.945007,1687640,0,18299,0,None,45,"South Carolina, US","{""x"": -80.94500699999998, ""y"": 33.856892000000..."
782,783,Vermont,US,2022-09-11 05:20:45,44.045876,-72.710686,140740,0,715,0,None,50,"Vermont, US","{""x"": -72.71068599999995, ""y"": 44.045876000000..."
783,784,Florida,US,2022-09-11 05:20:45,27.766279,-81.686783,7108060,0,80408,0,None,12,"Florida, US","{""x"": -81.68678299999993, ""y"": 27.766279000000..."
784,785,Hawaii,US,2022-09-11 05:20:45,21.094318,-157.498337,340729,0,1655,0,None,15,"Hawaii, US","{""x"": -157.49833699999996, ""y"": 21.09431800000..."
785,786,Kentucky,US,2022-09-11 05:20:45,37.668140,-84.670067,1554928,0,16808,0,None,21,"Kentucky, US","{""x"": -84.67006699999996, ""y"": 37.668140000000..."
786,787,Rhode Island,US,2022-09-11 05:20:45,41.680893,-71.511780,420175,0,3652,0,None,44,"Rhode Island, US","{""x"": -71.51177999999999, ""y"": 41.680893000000..."
787,788,Nebraska,US,2022-09-11 05:20:45,41.125370,-98.268082,533046,0,4488,0,None,31,"Nebraska, US","{""x"": -98.26808199999994, ""y"": 41.125370000000..."
788,789,Ohio,US,2022-09-11 05:20:45,40.388783,-82.764915,3096557,0,39576,0,None,39,"Ohio, US","{""x"": -82.76491499999997, ""y"": 40.388783000000..."
789,790,Alabama,US,2022-09-11 05:20:45,32.318200,-86.902300,1504180,0,20239,0,None,01,"Alabama, US","{""x"": -86.90229999999997, ""y"": 32.318200000000..."
790,791,North Carolina,US,2022-09-11 05:20:45,35.630066,-79.806419,3141302,0,26365,0,None,37,"North Carolina, US","{""x"": -79.80641899999995, ""y"": 35.630066000000..."
791,792,District of Columbia,US,2022-09-11 05:20:45,38.897438,-77.026817,166893,0,1382,0,None,11,"District of Columbia, US","{""x"": -77.02681699999994, ""y"": 38.897438000000..."
792,793,Maine,US,2022-09-11 05:20:45,44.693947,-69.381927,284881,0,2551,0,None,23,"Maine, US","{""x"": -69.38192699999996, ""y"": 44.693947000000..."

In [8]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        793 non-null    int64
 1   Province_State  793 non-null    object
 2   Country_Region  793 non-null    object
 3   Last_Update     792 non-null    datetime64[ns]
 4   Lat             773 non-null    float64
 5   Long_           773 non-null    float64
 6   Confirmed       793 non-null    int32
 7   Recovered       793 non-null    int32
 8   Deaths          793 non-null    int32
 9   Active          793 non-null    int32
 10  Admin2          793 non-null    object
 11  FIPS            793 non-null    object
 12  Combined_Key    793 non-null    object
 13  SHAPE           773 non-null    geometry
dtypes: datetime64[ns](1), float64(2), geometry(1), int32(4), int64(1), object(5)
memory usage: 74.5+ KB

In [9]:
df_global.groupby('Country_Region').sum()[['Confirmed', 'Recovered', 'Deaths']]

                      Confirmed  Recovered  Deaths
Country_Region
Afghanistan              195631          0    7787
Albania                  330948          0    3584
Algeria                  270532          0    6879
Andorra                   46113          0     155
Angola                   103131          0    1917
...                         ...        ...     ...
West Bank and Gaza       702591          0    5706
Winter Olympics 2022        535          0       0
Yemen                     11932          0    2155
Zambia                   333220          0    4017
Zimbabwe                 256870          0    5596

[199 rows x 3 columns]

In [10]:
fset_world = df_global.groupby('Country_Region').sum()[['Confirmed', 'Recovered', 'Deaths']]

In [11]:
countries_item = gis.content.get('7d721e9b74bf4b16bd43dfe489a5a533')
countries_item

In [12]:
countries_flayer = countries_item.layers[1]
countries_df = countries_flayer.query(as_df=True)
countries_df.columns

Index(['OBJECTID', 'FIPS_CNTRY', 'ISO_2DIGIT', 'ISO_3DIGIT', 'NAME',
       'LONG_NAME', 'LOCSHRTNAM', 'LOCLNGNAM', 'CAPITAL', 'COUNTRYAFF',
       'CONTINENT', 'COLORMAP', 'Shape__Area', 'Shape__Length', 'SHAPE'],
      dtype='object')

In [26]:
map_country_list = countries_df["NAME"].unique()

In [18]:
fset_world = fset_world.reset_index()

In [23]:
country_list = fset_world["Country_Region"].tolist()

In [25]:
country_list

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Summer Olympics 2020',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Winter Olympics 2022',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [27]:
countries_not_included = list()

In [28]:
for i in range(len(country_list)):
    if country_list[i] in map_country_list:
        pass
    else:
        countries_not_included.append(country_list[i])

In [29]:
countries_not_included

['Brunei',
 'Burma',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 "Cote d'Ivoire",
 'Czechia',
 'Diamond Princess',
 'Eswatini',
 'Holy See',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'MS Zaandam',
 'Russia',
 'Summer Olympics 2020',
 'Taiwan*',
 'US',
 'West Bank and Gaza',
 'Winter Olympics 2022']

In [30]:
fset_world.loc[fset_world['Country_Region']=='US', 'Country_Region'] = 'United States'
fset_world.loc[fset_world['Country_Region']=='Korea, South', 'Country_Region'] = 'South Korea'
fset_world.loc[fset_world['Country_Region']=='Korea, North', 'Country_Region'] = 'North Korea'
fset_world.loc[fset_world['Country_Region']=='Russia', 'Country_Region'] = 'Russian Federation'
fset_world.loc[fset_world['Country_Region']=='Czechia', 'Country_Region'] = 'Czech Republic'

In [31]:
countries_not_included2 = list()
country_list2 = fset_world["Country_Region"].tolist()
for i in range(len(country_list2)):
    if country_list2[i] in map_country_list:
        pass
    else:
        countries_not_included2.append(country_list2[i])
countries_not_included2

['Brunei',
 'Burma',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 "Cote d'Ivoire",
 'Diamond Princess',
 'Eswatini',
 'Holy See',
 'Kosovo',
 'MS Zaandam',
 'Summer Olympics 2020',
 'Taiwan*',
 'West Bank and Gaza',
 'Winter Olympics 2022']

In [33]:
fset_world = fset_world.drop(fset_world[fset_world.Country_Region.isin(countries_not_included2)].index)

In [36]:
world_merged = pd.merge(fset_world, countries_df[['NAME', 'SHAPE']], left_on = "Country_Region", \
                         right_on='NAME', how="left")
world_merged[['NAME', 'Confirmed','Deaths', 'Recovered']].head(10)

                  NAME  Confirmed  Deaths  Recovered
0          Afghanistan     195631    7787          0
1              Albania     330948    3584          0
2              Algeria     270532    6879          0
3              Andorra      46113     155          0
4               Angola     103131    1917          0
5           Antarctica         11       0          0
6  Antigua and Barbuda       8974     145          0
7            Argentina    9689861  129769          0
8              Armenia     436727    8662          0
9            Australia   10114810   14426          0

In [51]:
map1 = gis.map("", zoomlevel=2)
map1

MapView(layout=Layout(height='400px', width='100%'))

In [46]:
map1.add_layer(fl,   { "type": "FeatureLayer",
                       "renderer":"ClassedSizeRenderer",
                       "field_name":"Confirmed"})

In [52]:
map1.clear_graphics()
world_merged.spatial.plot(  kind='map', map_widget=map1,
                             renderer_type='c',  # for class breaks renderer
                             method='esriClassifyStandardDeviation',  # classification algorithm
                             class_count=7,  # choose the number of classes
                             col='Confirmed',  # numeric column to classify
                             cmap='inferno',  # color map to pick colors from for each class
                             alpha=0.7  # specify opacity
                            )

True

In [53]:
map1.zoom = 4
map1.legend = True

In [50]:
map1.clear_graphics()

In [54]:
map2 = gis.map("", zoomlevel=2)
map2

MapView(layout=Layout(height='400px', width='100%'))

In [55]:
map2.add_layer(fl,   { "type": "FeatureLayer",
                       "renderer":"ClassedSizeRenderer",
                       "field_name":"Confirmed"})

In [80]:
subjects_item = gis.content.get('1eb0511ee53a47b386e98e9c4663127b')
subjects_item

In [107]:
subjects_flayer = subjects_item.layers[2]
subjects_df = subjects_flayer.query(as_df=True)2
subjects_df.columns

Index(['OBJECTID', 'ID', 'NAME', 'AREA', 'TOTPOP_CY', 'ISO_CODE', 'ISO_SUB',
       'ISO2_CC', 'ISO3_CC', 'Shape__Area', 'Shape__Length', 'SHAPE'],
      dtype='object')

In [108]:
subjects_df

,OBJECTID,ID,NAME,AREA,TOTPOP_CY,ISO_CODE,ISO_SUB,ISO2_CC,ISO3_CC,Shape__Area,Shape__Length,SHAPE
0,1,1,New South Wales,8.008455e+05,8129009,AUNSW,NSW,AU,AUS,1.122920e+12,9.644242e+06,"{""rings"": [[[16703645.1077, -4475853.0507], [1..."
1,2,2,Victoria,2.274952e+05,6644802,AUVIC,VIC,AU,AUS,3.561376e+11,6.324012e+06,"{""rings"": [[[16285504.4721, -4744453.0384], [1..."
2,3,3,Queensland,1.730168e+06,5129791,AUQLD,QLD,AU,AUS,2.050544e+12,1.710215e+07,"{""rings"": [[[17077774.7245, -3240314.4403], [1..."
3,4,4,South Australia,9.842817e+05,1756079,AUSA,SA,AU,AUS,1.323554e+12,9.970571e+06,"{""rings"": [[[15658300.314, -4588263.1137], [15..."
4,5,5,Western Australia,2.526646e+06,2629391,AUWA,WA,AU,AUS,3.140951e+12,2.588493e+07,"{""rings"": [[[13121168.2698, -4189066.211], [13..."
5,6,6,Tasmania,6.801757e+04,536606,AUTAS,TAS,AU,AUS,1.230496e+11,9.792041e+06,"{""rings"": [[[16294077.1742, -5425368.5557], [1..."
6,7,7,Northern Territory,1.348088e+06,244543,AUNT,NT,AU,AUS,1.531500e+12,1.371298e+07,"{""rings"": [[[15259049.6029, -1788024.0168], [1..."
7,8,8,Australian Capital Territory,2.358196e+03,429263,AUACT,ACT,AU,AUS,3.564915e+09,3.760147e+05,"{""rings"": [[[16600879.9624, -4181065.9785], [1..."
8,9,9,Other Territories,6.781356e+01,397,AUACT,ACT,AU,AUS,1.016708e+08,8.228954e+04,"{""rings"": [[[16775280.3133, -4188899.7713], [1..."

In [129]:
fset_australia = df_global[df_global['Country_Region']=="Australia"]

In [146]:
len(fset_australia)

8

In [110]:
fset_australia

,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,SHAPE
9,10,Australian Capital Territory,Australia,2022-09-11 05:20:45,-35.4735,149.0124,203680,0,125,0,None,None,"Australian Capital Territory, Australia","{""x"": 149.01240000000007, ""y"": -35.47349999999..."
10,11,New South Wales,Australia,2022-09-11 05:20:45,-33.8688,151.2093,3463759,0,5046,0,None,None,"New South Wales, Australia","{""x"": 151.2093000000001, ""y"": -33.868799999999..."
11,12,Northern Territory,Australia,2022-09-11 05:20:45,-12.4634,130.8456,96447,0,70,0,None,None,"Northern Territory, Australia","{""x"": 130.8456000000001, ""y"": -12.463399999999..."
12,13,Queensland,Australia,2022-09-11 05:20:45,-27.4698,153.0251,1620034,0,2048,0,None,None,"Queensland, Australia","{""x"": 153.02510000000007, ""y"": -27.46979999999..."
13,14,South Australia,Australia,2022-09-11 05:20:45,-34.9285,138.6007,758840,0,860,0,None,None,"South Australia, Australia","{""x"": 138.60070000000007, ""y"": -34.92849999999..."
14,15,Tasmania,Australia,2022-09-11 05:20:45,-42.8821,147.3272,246706,0,182,0,None,None,"Tasmania, Australia","{""x"": 147.32720000000006, ""y"": -42.88209999999..."
15,16,Victoria,Australia,2022-09-11 05:20:45,-37.8136,144.9631,2586290,0,5469,0,None,None,"Victoria, Australia","{""x"": 144.96310000000005, ""y"": -37.81359999999..."
16,17,Western Australia,Australia,2022-09-11 05:20:45,-31.9505,115.8605,1139054,0,626,0,None,None,"Western Australia, Australia","{""x"": 115.86050000000012, ""y"": -31.95049999999..."

In [111]:
AU_merged = pd.merge(fset_australia, subjects_df[['NAME', 'SHAPE']], left_on = "Province_State", \
                         right_on='NAME', how="left")
AU_merged[['NAME', 'Confirmed','Deaths', 'Recovered']].head(10)

                           NAME  Confirmed  Deaths  Recovered
0  Australian Capital Territory     203680     125          0
1               New South Wales    3463759    5046          0
2            Northern Territory      96447      70          0
3                    Queensland    1620034    2048          0
4               South Australia     758840     860          0
5                      Tasmania     246706     182          0
6                      Victoria    2586290    5469          0
7             Western Australia    1139054     626          0

In [112]:
AU_merged = AU_merged.drop(['SHAPE_x'], axis=1).rename(columns={"SHAPE_y": "SHAPE"})

In [113]:
map2 = gis.map("Australia", zoomlevel=4)
map2

MapView(layout=Layout(height='400px', width='100%'))

In [114]:
map1.clear_graphics()
AU_merged.spatial.plot(  kind='map', map_widget=map2,
                             renderer_type='c',  # for class breaks renderer
                             method='esriClassifyStandardDeviation',  # classification algorithm
                             class_count=7,  # choose the number of classes
                             col='Confirmed',  # numeric column to classify
                             cmap='inferno',  # color map to pick colors from for each class
                             alpha=0.7  # specify opacity
                            )

True

In [149]:
subjects_item = gis.content.get('605d0bb40f094264bcab01ffb3623347')
subjects_item

In [150]:
subjects_flayer = subjects_item.layers[1]
subjects_df = subjects_flayer.query(as_df=True)
subjects_df.columns

Index(['OBJECTID', 'ID', 'NAME', 'AREA', 'TOTPOP_CY', 'ISO_CODE', 'ISO_SUB',
       'ISO2_CC', 'ISO3_CC', 'Shape__Area', 'Shape__Length', 'SHAPE'],
      dtype='object')

In [151]:
subjects_df

,OBJECTID,ID,NAME,AREA,TOTPOP_CY,ISO_CODE,ISO_SUB,ISO2_CC,ISO3_CC,Shape__Area,Shape__Length,SHAPE
0,1,E92000001,England,130484.014478,55806099,GBENG,ENG,GB,GBR,3.534774e+11,1.061533e+07,"{""rings"": [[[-712342.122900002, 6422971.613], ..."
1,2,N92000002,Northern Ireland,14146.472290,1868469,GBNIR,NIR,GB,GBR,4.208725e+10,2.354773e+06,"{""rings"": [[[-629256.726300001, 7241326.3225],..."
2,3,S92000003,Scotland,78835.488860,5393690,GBSCT,SCT,GB,GBR,2.631092e+11,3.271008e+07,"{""rings"": [[[-491203.781800002, 7300071.7571],..."
3,4,W92000004,Wales,20784.747570,3128427,GBWLS,WLS,GB,GBR,5.559034e+10,3.826694e+06,"{""rings"": [[[-347426.047800001, 6688819.4126],..."

In [128]:
fset_uk = df_global[df_global['Country_Region']=="United Kingdom"]

In [130]:
fset_uk

,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,SHAPE
705,706,Anguilla,United Kingdom,2022-09-11 05:20:45,18.220600,-63.068600,3851,0,12,0,None,None,"Anguilla, United Kingdom","{""x"": -63.06859999999995, ""y"": 18.220600000000..."
706,707,Bermuda,United Kingdom,2022-09-11 05:20:45,32.307800,-64.750500,18019,0,148,0,None,None,"Bermuda, United Kingdom","{""x"": -64.75049999999999, ""y"": 32.307800000000..."
707,708,British Virgin Islands,United Kingdom,2022-09-11 05:20:45,18.420700,-64.640000,7305,0,64,0,None,None,"British Virgin Islands, United Kingdom","{""x"": -64.63999999999999, ""y"": 18.420700000000..."
708,709,Cayman Islands,United Kingdom,2022-09-11 05:20:45,19.313300,-81.254600,30214,0,29,0,None,None,"Cayman Islands, United Kingdom","{""x"": -81.25459999999998, ""y"": 19.313300000000..."
709,710,Channel Islands,United Kingdom,2022-09-11 05:20:45,49.372300,-2.364400,0,0,0,0,None,None,"Channel Islands, United Kingdom","{""x"": -2.3643999999999323, ""y"": 49.37230000000..."
710,711,England,United Kingdom,2022-09-11 05:20:45,52.355500,-1.174300,19861556,0,174576,0,None,None,"England, United Kingdom","{""x"": -1.1742999999999597, ""y"": 52.35550000000..."
711,712,Falkland Islands (Malvinas),United Kingdom,2022-09-11 05:20:45,-51.796300,-59.523600,1886,0,0,0,None,None,"Falkland Islands (Malvinas), United Kingdom","{""x"": -59.52359999999999, ""y"": -51.79629999999..."
712,713,Gibraltar,United Kingdom,2022-09-11 05:20:45,36.140800,-5.353600,20069,0,108,0,None,None,"Gibraltar, United Kingdom","{""x"": -5.353599999999972, ""y"": 36.140800000000..."
713,714,Guernsey,United Kingdom,2022-09-11 05:20:45,49.448196,-2.589490,30883,0,62,0,None,None,"Guernsey, United Kingdom","{""x"": -2.589489999999955, ""y"": 49.448196000000..."
714,715,Isle of Man,United Kingdom,2022-09-11 05:20:45,54.236100,-4.548100,38008,0,116,0,None,None,"Isle of Man, United Kingdom","{""x"": -4.548099999999977, ""y"": 54.236100000000..."
715,716,Jersey,United Kingdom,2022-09-11 05:20:45,49.213800,-2.135800,59163,0,136,0,None,None,"Jersey, United Kingdom","{""x"": -2.1357999999999606, ""y"": 49.21380000000..."
716,717,Montserrat,United Kingdom,2022-09-11 05:20:45,16.742498,-62.187366,1276,0,8,0,None,None,"Montserrat, United Kingdom","{""x"": -62.18736599999994, ""y"": 16.742498000000..."
717,718,Northern Ireland,United Kingdom,2022-09-11 05:20:45,54.787700,-6.492300,713294,0,4831,0,None,None,"Northern Ireland, United Kingdom","{""x"": -6.492299999999943, ""y"": 54.787700000000..."
718,719,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,2022-09-11 05:20:45,-7.946700,-14.355900,7,0,0,0,None,None,"Saint Helena, Ascension and Tristan da Cunha, ...","{""x"": -14.355899999999963, ""y"": -7.94669999999..."
719,720,Scotland,United Kingdom,2022-09-11 05:20:45,56.490700,-4.202600,2095171,0,15588,0,None,None,"Scotland, United Kingdom","{""x"": -4.202599999999961, ""y"": 56.490700000000..."
720,721,Turks and Caicos Islands,United Kingdom,2022-09-11 05:20:45,21.694000,-71.797900,6372,0,36,0,None,None,"Turks and Caicos Islands, United Kingdom","{""x"": -71.79789999999997, ""y"": 21.694000000000..."
721,722,Unknown,United Kingdom,2022-09-11 05:20:45,NaN,NaN,0,0,314,0,None,None,"Unknown, United Kingdom",None
722,723,Wales,United Kingdom,2022-09-11 05:20:45,52.130700,-3.783700,884498,0,10723,0,None,None,"Wales, United Kingdom","{""x"": -3.7836999999999534, ""y"": 52.13070000000..."

In [132]:
UK_merged = pd.merge(fset_uk, subjects_df[['NAME', 'SHAPE']], left_on = "Province_State", \
                         right_on='NAME', how="inner")
UK_merged[['NAME', 'Confirmed','Deaths', 'Recovered']].head(10)

               NAME  Confirmed  Deaths  Recovered
0           England   19861556  174576          0
1  Northern Ireland     713294    4831          0
2          Scotland    2095171   15588          0
3             Wales     884498   10723          0

In [134]:
UK_merged = UK_merged.drop(['SHAPE_x'], axis=1).rename(columns={"SHAPE_y": "SHAPE"})

In [137]:
map3 = gis.map("UK", zoomlevel=4)
map3

MapView(layout=Layout(height='400px', width='100%'))

In [145]:
map3.clear_graphics()
UK_merged.spatial.plot(  kind='map', map_widget=map3,
                             renderer_type='c',  # for class breaks renderer
                             method='esriClassifyStandardDeviation',  # classification algorithm
                             class_count=5,  # choose the number of classes
                             col='Confirmed',  # numeric column to classify
                             cmap='inferno',  # color map to pick colors from for each class
                             alpha=0.7  # specify opacity
                            )

True

In [142]:
map3.legend = True